<p class="my-10 ml-4 text-sm text-center text-gray-500">
	&copy;  - {new Date().getFullYear()} —
	<a href="https://zenithtechstudio.com/" class="hover:underline" target="_blank"
		>Created by Zenith Tech Studio</a>.
</p>
